.error{
    color: red;
}
.t_head{
    position: sticky;
    top: 0px;
    background-color: cornflowerblue;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.table{
    color: #fff;

}
.table-container {
    max-height: 560px; /* Adjust this value as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    display: block; /* Ensures the container is a block-level element */
    width: 100%;
    max-width: 50vw;
}
.set-container{
    width: 100%;
}
.btn_img {
    border: none; /* Removes default button border */
    background: none; /* Removes default button background */
    padding: 0; /* Removes default padding */
    cursor: pointer; /* Changes cursor to pointer on hover */
    background-color: none;
}

.btn_img img {
    display: block; /* Removes space below image */
    width: 100%; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    background-color: red;
}