/* .radio{
    display: none;
} */
/* .roll_number .invalid-feedback, .otp .invalid-feedback{
    display: block;
} */
html, body{
    background-color: darkgrey;
}
#otp, #radio, #btn {
    display: none;
}